body,
button,
input,
select {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  text-rendering: optimizeLegibility /* improved font rendering algorithm    */;

  font-family:
    "-apple-system",
    "BlinkMacSystemFont",
    "HiraginoSans" /* CJK typeface on OS X, macOS and iOS. Postscript name   */,
    "Hiragino Sans" /* see above                                             */,
    "Roboto" /* supports more variants and weights on Chrome OS, Android     */,
    "Noto Sans" /* the most complete Unicode coverage, Chrome OS and Android */,
    "Noto Sans CJK JP" /* CJK typeface on Chrome OS, Android                 */,
    "Oxygen-Sans" /* KDE                                                     */,
    "Ubuntu" /* Ubuntu                                                       */,
    "Cantarell" /* Gnome                                                     */,
    "Segoe UI" /* Windows                                                    */,
    "Meiryo" /* CJK typeface on Windows                                      */,
    "Arial" /* Window XP, Windows Phone, Windows Vista+                      */,
    sans-serif /* generic fallback                                           */,
    "Apple Color Emoji" /* OS X, macOS, iOS Emoji                            */,
    "Noto Color Emoji" /* Android, Chrome OS Emoji                           */,
    "Symbola" /* Linux, open source Emoji                                    */,
    "Segoe UI Emoji",
    "Segoe UI Symbol" /* Windows Emoji                     */;
}

:root {
  --background-color: white;
  --primary-text-color: #292929;
  --light-text-color: darkgray;
  --cta-background: #1a73e8;
  --cta-foreground: #ffffff;
  --text-selection-color: rgba(254, 231, 0, 0.9);
}
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #292929;
    --primary-text-color: #e5e5e5;
    --light-text-color: darkgray;
    --text-selection-color: rgba(254, 231, 0, 0.9);
  }
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::selection {
  background-color: var(--text-selection-color);
  color: var(--primary-text-color);
}

html,
button,
input,
select {
  font-size: 100%;
  line-height: 1.4;
}

body {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  padding: 0 1.5em;
  margin: 0;
}

a {
  color: var(--primary-text-color);
}
a:hover {
  color: #0000cc;
}

hr {
  border: none;
  border-top: 2pt solid var(--primary-text-color);
  border-bottom: 1pt solid var(--primary-text-color);
  height: 4pt;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  font-weight: 900;
  letter-spacing: -0.025em;
  line-height: 1.0625em;
  margin: 0.5em 0 0.2em 0;
}

h1,
h2 {
  font-size: calc(2vw + 16px);
}

img {
  max-width: 100%;
}

table {
  width: 100%;
  border: 2pt solid var(--primary-text-color);
  border-collapse: collapse;
  table-layout: fixed;
}
table td,
table th {
  border: 2pt solid var(--primary-text-color);
  padding: 0.25rem;
  vertical-align: top;
}
table tr td:first-child,
table tr th:first-child {
  width: 25%;
}

.cols-2 {
  display: flex;
  align-items: center;
}
.cols-2 > * {
  margin: 0;
  width: 100%;
}
