.list {
  list-style: none;
  padding: 0;
}
.list h2 {
  font-size: 1.5rem;
  margin: 0;
}
.list li {
  margin: 1rem 0;
}
.list li p {
  color: var(--light-text-color);
  margin-top: 0;
}
.list a:link {
  text-decoration: none;
}
