.page {
  max-width: 60rem; /* 960 = 16 * 60 */
  margin: 0 auto;
}

@media (min-width: 60rem) {
  .layout {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: stretch;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
.one,
.two {
  flex-basis: 50%;
  flex-shrink: 1;
  align-items: flex-start;
  justify-content: flex-start;
}

.links {
  font-size: 1.5rem;
  list-style: none;
}
.links li {
  font-size: 0.875rem;
  color: #999;
  margin: 1rem;
}
.links a:link {
  font-size: 3rem;
  text-decoration: none;
}

.form,
.instagram,
.discord {
  display: inline-block;
  padding-right: 0.25rem;
}
.form::before,
.instagram::before,
.discord::before {
  background-size: 2.5rem;
  content: " ";
  display: inline-block;
  margin-right: 1rem;
  height: 2.5rem;
  width: 2.5rem;
}
.discord::before {
  background-image: url("/discord.ico");
}
.form::before {
  background-image: url("/forms.png");
}
.instagram::before {
  background-image: url("/instagram.png");
}
