.page {
  max-width: 60rem; /* 960 = 16 * 60 */
  margin: 0 auto;
}

@media (min-width: 30rem) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.name a:link {
  text-decoration: none;
}

.footer {
  margin-top: 3rem;
}

@media (min-width: 30rem) {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.motto {
  font-size: 2rem;
}
@media (min-width: 30rem) {
  .motto {
    writing-mode: vertical-rl;
  }
}
